server {
	listen       80;
	server_name  {{ domain_name }};
	root /home/{{ domain_name }};
	index index.php index.html;

	location / {
{% for virtual_hosts_temp in vars.virtual_hosts_temp %}
	               {{virtual_hosts_temp}}

{% endfor %}
        }
}
